<ion-view view-title="info">
<ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back button back-button">
    <i class="icon ion-ios-arrow-back"></i>
        返回
      </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <a href="#/tab/register" class="button">编辑</a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <div class="list">
      <a href="#" class="item item-avatar item-icon-right">
        <img src="http://www.qqzhi.com/uploadpic/2014-09-30/004536695.jpg" alt="">
        <h2>Hu minghan</h2>
        <p>2周6个月9天</p>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        <span class="label">生日：</span>
        <span class="text">2012年10月19日</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        <span class="label">性别：</span>
        <span class="text">女</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        <span class="label">身高：</span>
        <span class="text">95cm</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a href="#" class="item item-icon-right">
        <span class="label">体重：</span>
        <span class="text">15.0kg</span>
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
    <div class="list">
      <a href="#/tab/register/babyinfo/write" class="item item-icon-right">
        写日记
        <i class="icon ion-ios-arrow-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
