<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{diary.time}}" class="diary-detail">
<ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back button back-button">
    <i class="icon ion-ios-arrow-back"></i>
        返回
      </ion-nav-back-button>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-more" ng-click="show()"></button>
      </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="diary-list">
      <div class="card">
        <ion-list class="">
          <ion-item class="breif">
            <span class="birth">{{diary.birth}}</span>
            <div class="item-note">
              <i class="icon {{diary.weather}}"></i>
              <i class="icon {{diary.mood}}"></i>
              <i class="icon {{diary.sound}}"></i>
            </div>
          </ion-item>
          <ion-item class="item item-divider diary-hd">
            <h2>{{diary.memorabilia}}</h2>
          </ion-item>
          <ion-item class="item item-body diary-bd" href="#/tab/diary/{{diary.id}}">
              <p class="content">
                {{diary.content}}
              </p>
              <img ng-src="{{diary.img}}" alt="" class="full-image" on-hold="picShow()">
              <p class="address">
                <i class="icon ion-android-pin"></i>
                {{diary.address}}
              </p>
              <p class="time">
                <i class="icon ion-ios-clock"></i>
                {{diary.name}},{{diary.time}}
              </p>
          </ion-item>
        </ion-list>
    </div>
  </ion-content>
</ion-view>
