<ion-view view-title="register" class="register">
  <ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-buttons side="right">
      <a href="#/tab/baby" class="button">保存</a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-input">
        <span class="input-label">宝宝姓名</span>
        <input type="text">
      </li>
      <li class="item item-input birth">
        <span class="input-label">出生日期</span>
        <input type="date">
        <span class="item-note">距离预产期<br>还有52天</span>
      </li>
      <li class="item">
        <span class="input-label">宝宝性别</span>
        <div class="radio-group">
          <label for="">
            <input type="radio" name="sex">女孩
          </label>
          <label for="">
            <input type="radio" name="sex">男孩
          </label>
        </div>
      </li>
    </ul>
    <ul class="list">
      <li class="item item-input item-select">
        <span class="input-label">出生身高</span>
        <select name="" id="">
          <option value="">51cm</option>
          <option value="">52cm</option>
          <option value="">53cm</option>
          <option value="">54cm</option>
          <option value="">55cm</option>
          <option value="">56cm</option>
          <option value="">57cm</option>
          <option value="">58cm</option>
          <option value="">59cm</option>
          <option value="">60cm</option>
          <option value="">61cm</option>
          <option value="">62cm</option>
          <option value="">63cm</option>
          <option value="">64cm</option>
          <option value="">65cm</option>
          <option value="">66cm</option>
          <option value="">67cm</option>
          <option value="">68cm</option>
          <option value="">69cm</option>
        </select>
      </li>
      <li class="item item-input item-select">
        <span class="input-label">出生体重</span>
        <select name="" id="">
          <option value="">.0kg</option>
          <option value="">.1kg</option>
          <option value="">.2kg</option>
          <option value="">.3kg</option>
          <option value="">.4kg</option>
          <option value="">.5kg</option>
          <option value="">.6kg</option>
          <option value="">.7kg</option>
          <option value="">.8kg</option>
          <option value="">.9kg</option>
        </select>
      </li>
    </ul>
    <div class="upload-avatar">
      <span class="up-button">
        <input type="file">
      </span>
      宝宝头像
    </div>
  </ion-content>
</ion-view>
