<ion-view view-title="日记" class="tab-diary">
  <ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-search-strong"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a href="#/write" class="button button-icon icon ion-android-add"></a>
      </ion-nav-buttons>
  </ion-nav-bar>
  <div class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input type="search" placeholder="Search">
  </label>
  <button class="button button-clear">
    取消
  </button>
</div>
  <ion-content>
    <ion-item class="item item-avatar info">
      <img src="http://www.qqzhi.com/uploadpic/2014-09-30/004536695.jpg" alt="">
      <h2>小狐狸</h2>
      <p>2周6个月9天</p>
    </ion-item>
    <div class="diary-list">
      <div class="card" ng-repeat="diary in diarys">
        <ion-list class="">
          <ion-item class="breif">
            <span class="birth">{{diary.birth}}</span>
            <span class="time item-note">{{diary.time}}</span>
          </ion-item>
          <ion-item class="item item-divider diary-hd">
            <h2>{{diary.memorabilia}}</h2>
            <div class="item-note">
              <i class="icon {{diary.weather}}"></i>
              <i class="icon {{diary.mood}}"></i>
              <i class="icon {{diary.sound}}"></i>
            </div>
          </ion-item>
          <ion-item class="item item-body diary-bd" href="#/tab/diary/{{diary.id}}">
              <p class="content">
                {{diary.content}}
              </p>
              <div class="pic-box">
                <img ng-src="{{diary.img}}" alt="">
              </div>
              <p class="address">
                <i class="icon ion-android-pin"></i>
                {{diary.address}}
              </p>
              <p class="time">
                <i class="icon ion-ios-clock"></i>
                {{diary.name}},{{diary.time}}
              </p>
          </ion-item>
            <ion-item class="item tabs tabs-secondary tabs-icon-left">
              <a href="#" class="tab-item">
                <i class="icon ion-compose"></i>
                编辑
              </a>
              <a href="#" class="tab-item">
                <i class="icon ion-android-share-alt"></i>
                分享
              </a>
              <a href="#" class="tab-item" on-tap="showConfirm()";>
                <i class="icon ion-trash-a"></i>
                删除
              </a>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
