<ion-view view-title="register" class="register">
  <ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-buttons side="right">
      <a href="#/tab/register/babyinfo" class="button">保存</a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-input">
        <span class="input-label">姓名(name)</span>
        <input type="text">
      </li>
      <li class="item item-input">
        <span class="input-label">生日(birth)</span>
        <input type="date">
      </li>
      <li class="item">
        <span class="input-label">性别</span>
        <div class="">
          <label for="">
            <input type="radio" name="sex">女孩
          </label>
          <label for="">
            <input type="radio" name="sex">男孩
          </label>
        </div>
      </li>
    </ul>
    <ul class="list">
      <li class="item item-input">
        <span class="input-label">身高</span>
        <input type="text">
      </li>
      <li class="item item-input">
        <span class="input-label">体重</span>
        <input type="text">
      </li>
    </ul>
    <div class="upload-avatar">
      <span class="up-button">
        <input type="file">
      </span>
      宝宝头像
    </div>
  </ion-content>
</ion-view>
