<ion-view view-title="胡名涵">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">第一次坐飞机</div>
      <div class="item item-body">
        <div>
          晚上宝宝不睡觉，我假装睡着，她爬到我身上，抠抠眼睛，捏捏鼻子，说：“小妞，来笑一个”
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
