<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="日记" icon-off="ion-clipboard" icon-on="ion-clipboard" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="大事记" icon-off="ion-levels" icon-on="ion-levels" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="成长记录" icon-off="ion-connection-bars" icon-on="ion-connection-bars" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Test Tab -->
  <ion-tab title="宝宝" icon-off="ion-android-contact" icon-on="ion-android-contact" href="#/tab/register">
    <ion-nav-view name="tab-register"></ion-nav-view>
  </ion-tab>


</ion-tabs>
