<ion-view view-title="写日记" class="write-diary">
  <ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back button back-button">
      <i class="icon ion-ios-arrow-back"></i>
          返回
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <a href="#/tab/diary" class="button">保存</a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-textarea">
        <textarea name="" id="" cols="30" rows="10" placeholder="你想写点什么..."></textarea>
      </li>
      <li class="item item-upload">
        <span class="avatar-button" style="background-image:url(../img/pic-01.jpeg);">
          <input type="file">
        </span>
        <span class="avatar-button" style="background-image:url(../img/pic-02.jpeg);">
          <input type="file">
        </span>
        <span class="avatar-button" style="background-image:url(../img/pic-03.jpeg);">
          <input type="file">
        </span>
        <span class="avatar-button" style="background-image:url(../img/pic-04.jpeg);">
          <input type="file">
        </span>
        <span class="avatar-button">
          <input type="file">
        </span>
      </li>
      <li class="item item-opr">
        <i class="icon ion-android-cloud-outline"></i>
        <i class="icon ion-android-happy"></i>
        <i class="icon ion-android-microphone"></i>
        <i class="icon ion-bookmark"></i>
      </li>
    </ul>
    <ul class="list">
      <li class="item item-input item-icon-right">
        <span class="input-label">时间</span>
        <input type="date">
        <i class="icon ion-chevron-right icon-accessory"></i>
      </li>
      <li class="item item-input item-icon-right" href="#/location">
        <span class="input-label">地点</span>
        北京市朝阳区
        <i class="icon ion-chevron-right icon-accessory"></i>
      </li>
    </ul>
    <ul class="list">
      <li class="item item-icon-right">
        更多
        <i class="icon ion-chevron-right icon-accessory"></i>
      </li>
    </ul>
    <div class="tongbu">
      <i class="icon ion-android-bulb"></i>
      <i class="icon ion-android-bulb"></i>
    </div>
  </ion-content>
</ion-view>
