<ion-view view-title="写日记" class="write-diary">
  <ion-nav-bar class="bar-stable bar-assertive" >
    <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back button back-button">
      <i class="icon ion-ios-arrow-back"></i>
          返回
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <a href="#/tab/diary" class="button">保存</a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
    <ul class="list">
      <li class="item item-textarea">
        <textarea name="" id="" cols="30" rows="10" placeholder="你想写点什么..."></textarea>
      </li>
      <li class="item item-upload">
        <span class="avatar-button" style="background-image:url(../img/pic-01.jpeg);">
          <input type="file">
        </span>
        <span class="avatar-button" style="background-image:url(../img/pic-02.jpeg);">
          <input type="file">
        </span>
        <span class="avatar-button">
          <input type="file">
        </span>
      </li>
      <li class="item item-opr">
        <i class="icon ion-android-cloud-outline" on-tap="action();"></i>
        <i class="icon ion-android-happy"></i>
        <i class="icon ion-bookmark"></i>
        <i class="icon ion-android-microphone"></i>
      </li>
    </ul>
    <div class="list">
      <div class="item item-input">
        <span class="input-label">时间</span>
        <input type="date">
      </div>
      <a href="#/location" class="item item-input item-icon-right">
        <span class="input-label">地点</span>
        北京市朝阳区
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
    <ion-list class="">
      <ion-item class="item-icon-right" href="/#/write/add">
        更多
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div class="tongbu">
      <i class="icon ion-android-bulb">朋友圈</i>
      <i class="icon ion-android-bulb">QQ空间</i>
    </div>
    <section class="popup">
      <div class="popup-hd">
        <span class="cancel">取消</span>
        <span class="ensure">确定</span>
      </div>
      <article class="bd weather">
        <div class="row">
          <div class="col">
            <i class="icon ion-ios-sunny-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-partlysunny-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-cloudy-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-rainy-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-thunderstorm-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-snowy"></i>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-ios-moon-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-cloudy-night-outline"></i>
          </div>
           <div class="col">
            <i class="icon ion-ios-sunny-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-partlysunny-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-cloudy-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-rainy-outline"></i>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <i class="icon ion-ios-thunderstorm-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-snowy"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-moon-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-cloudy-night-outline"></i>
          </div>
           <div class="col">
            <i class="icon ion-ios-sunny-outline"></i>
          </div>
          <div class="col">
            <i class="icon ion-ios-partlysunny-outline"></i>
          </div>
        </div>
      </article>
    </section>
  </ion-content>
</ion-view>

